<div class="blog-main-card d-flex">
    <article class="blog-sub">
      <div class="blog-content">
        <img src="../../assets/Images/{{image}}" alt="courseImage" >
      </div>
      <div class="blog-content-section">
        <div class="blog-content-title">
          <h4>{{courseName}}</h4>
        </div>
        <div class="blog-admin">
          <ol>
            <li><i class="fal fa-user-tie"></i> {{categoryid}}</li>
            <li>  <button (click)="showProfile()">show</button> </li>
          </ol>
        </div>
      </div>
    </article>
  </div>
  